@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 10px;
        background-color: #f8f9fa;
        margin-bottom: 20px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    .card-img-top {
        max-height:77vh ;
        max-width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .badge {
        font-size: 14px;
        font-weight: bold;
        padding: 6px 10px;
        border-radius: 15px;
        text-transform: uppercase;
        margin-right: 5px;
    }

    .badge-success {
        background-color: #28a745;
        color: #fff;
    }

    .badge-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .badge-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-outline-primary {
        border-color: #007bff;
        color: #007bff;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 14px;
        width: auto;
    }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: #fff;
        }

    .btn-success {
        background-color: #28a745;
        color: #fff;
        border-color: #28a745;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 14px;
        width: auto;
    }

        .btn-success:hover {
            background-color: #218838;
            color: #fff;
            border-color: #218838;
        }

    .edit-button, .show-details-button, .buy-ticket-button {
        display: inline-block;
        width: 200px;
        font-size: 16px;
        font-weight: 300; /* Use a thinner font weight */
        font-family: "Helvetica Neue", Arial, sans-serif; /* Use an elegant font */
        color: rgb(255, 255, 255);
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align: center;
        line-height: 55px; /* Adjust line height to center the text vertically */
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        transition: background 0.4s ease-in-out 0s;
    }

    .edit-button {
        background-image: linear-gradient(to right, rgb(98, 83, 225), rgb(133, 45, 145), rgb(163, 161, 255), rgb(242, 70, 69));
        box-shadow: rgba(126, 52, 161, 0.75) 0px 4px 15px 0px;
    }

        .edit-button:hover {
            background-position: 100% 0px;
            transition: background 0.4s ease-in-out 0s;
        }

        .edit-button:focus {
            outline: none;
        }

        .edit-button:active {
            box-shadow: rgba(126, 52, 161, 0.75) 0px 4px 5px 0px;
            transition: all 0.1s ease-in-out 0s;
            transform: translateY(2px);
        }

    .show-details-button {
        background-image: linear-gradient(to right, rgb(255, 136, 0), rgb(255, 205, 86), rgb(255, 230, 159), rgb(255, 249, 196));
        box-shadow: rgba(255, 170, 0, 0.75) 0px 4px 15px 0px;
    }

        .show-details-button:hover {
            background-position: 100% 0px;
            transition: background 0.4s ease-in-out 0s;
        }

        .show-details-button:focus {
            outline: none;
        }

        .show-details-button:active {
            box-shadow: rgba(255, 170, 0, 0.75) 0px 4px 5px 0px;
            transition: all 0.1s ease-in-out 0s;
            transform: translateY(2px);
        }

    .buy-ticket-button {
        background-image: linear-gradient(to right, rgb(0, 123, 255), rgb(23, 162, 184), rgb(23, 162, 184), rgb(0, 123, 255));
        box-shadow: rgba(23, 162, 184, 0.75) 0px 4px 15px 0px;
    }

        .buy-ticket-button:hover {
            background-position: 100% 0px;
            transition: background 0.4s ease-in-out 0s;
        }

        .buy-ticket-button:focus {
            outline: none;
        }

        .buy-ticket-button:active {
            box-shadow: rgba(23, 162, 184, 0.75) 0px 4px 5px 0px;
            transition: all 0.1s ease-in-out 0s;
            transform: translateY(2px);
        }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><b>Cinema:</b> @item.Cinema.Name</p>
                    <p class="card-text"><b>Category:</b> @item.MovieCategory</p>
                    <p class="card-text"><b>Start Date:</b> @item.StartDate.ToString("dd MMM yy")</p>
                    <p class="card-text"><b>End Date:</b> @item.EndDate.ToString("dd MMM yy")</p>
                    <p class="card-text">
                        <b>Status:</b>
                        @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                        {
                            <span class="badge badge-success">AVAILABLE</span>
                        }
                        else if (DateTime.Now > item.EndDate)
                        {
                            <span class="badge badge-danger">EXPIRED</span>
                        }
                        else
                        {
                            <span class="badge badge-primary">UPCOMING</span>
                        }
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="show-details-button" asp-action="Details" asp-route-id="@item.Id">
                        <i class="bi bi-eye-fill"></i> Show Details
                    </a>
                    <a class="buy-ticket-button text-white" asp-action="BuyTicket" asp-route-id="@item.Id">
                        Buy Ticket - @item.Price.ToString("c")
                    </a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="edit-button text-white" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Movies")